@page "/"
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using BlazorApp.Components
@using BlazorApp.Models
@using Core.Devices
@using Core.Managers
@using Microsoft.AspNetCore.Components.Web

@using Core
@using System.Numerics
@using System.Text
@using System.Text.Json

<PageTitle>IoT Swarm Simulator</PageTitle>

<div class="d-flex flex-column vh-100">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">IoT Swarm Simulator</a>
		</div>
	</nav>

	<div class="d-flex flex-grow-1 overflow-hidden">
		<div class="bg-light border-end p-3" style="width:250px;">
			<h5>Управление</h5>
			<div class="d-grid gap-2 w-100">
				<button class="btn btn-primary btn-sm" @onclick="ShowDeviceModalForm">Создать устройство</button>
				@if (_selectedDevice is not null)
				{
					<button class="btn btn-primary btn-sm" @onclick="SendPacketButton">Отправить пакет</button>
				}
				<label class="form-label mb-3" style="width:13vw;">
					Обработчик пакетов
					<InputSelect class="form-select w-100" @onchange="HandlerChanged" @bind-Value="_selectedHandlerName">
						@foreach (var handlerName in HandlerManager.GetAllHandlerNames())
						{
							<option value="@handlerName">@handlerName</option>
						}
					</InputSelect>
				</label>
				<label class="d-flex flex-row-reverse align-items-center justify-content-end user-select-none gap-2">
					Отображать видимости
					<InputCheckbox class="form-check-input"
					@bind-Value="_areVisibilitiesVisible" />
				</label>
				<label class="d-flex flex-row-reverse align-items-center justify-content-end user-select-none gap-2">
					Отображать связи
					<InputCheckbox class="form-check-input"
					@bind-Value="_areConnectionsVisible" />
				</label>
				<label class="d-flex flex-row-reverse align-items-center justify-content-end user-select-none gap-2">
					Отображать пакеты
					<InputCheckbox class="form-check-input"
					@bind-Value="_arePacketsVisible" />
				</label>
				<button class="btn btn-primary btn-sm" @onclick="PresetChosen">Установить пресет</button>
			</div>
		</div>

		<div class="flex-grow-1 position-relative bg-white"
		@onmousedown="OnMouseDown"
		@onmousemove="OnMouseMove"
		@onmouseup="OnMouseUp"
		@oncontextmenu:preventDefault
		@oncontextmenu="OnRightClick">
			<SimulationCanvas @ref="_canvasRef"
			SendPacketFrom="_sendPacketFrom"
			SelectedDevice="_selectedDevice"
			AreConnectionsVisible="_areConnectionsVisible"
			AreVisibilitiesVisible="_areVisibilitiesVisible"
			ArePacketsVisible="_arePacketsVisible" />
		</div>

		@if (_sendPacketFrom is not null)
		{
			<p class="position-absolute text-secondary" style="bottom:1.5vh; width: 100vw; text-align: center;">
				Выберите устройство на которое надо отправить ping
			</p>
		}
	</div>
</div>

@if (_isDeviceModalFormVisible && _formDeviceModel is not null)
{
	<DeviceFormModal Device="_formDeviceModel"
	IsEditMode="_isDeviceContextMenuVisible"
	OnClose="CloseDeviceModalForm"
	OnValidSubmit="SubmitDeviceForm" />
}

@if (false && _welcomeModalVisible)
{
	<WelcomeModal OnClose="CloseWelcomeModal" />
}


@if (_isDeviceContextMenuVisible && _selectedDevice is not null)
{
	<div class="position-absolute bg-white border rounded shadow p-2"
	style="z-index:1000; width:150px; top:@(_contextMenuPositionPX.Y); left:@(_contextMenuPositionPX.X);">
		<button class="btn btn-sm btn-secondary w-100 mb-1" @onclick="EditSelectedDevice">Изменить</button>
		<button class="btn btn-sm btn-danger w-100 mb-1" @onclick="DeleteSelectedDevice">Удалить</button>
		@if (_selectedDevice is not Hub)
		{
			<button class="btn btn-sm btn-info w-100" @onclick="CloneSelectedDevice">Клонировать</button>
		}
	</div>
}

@code {
	private SimulationCanvas _canvasRef = null!;

	private bool _isDeviceModalFormVisible = false;

	private Device? _formDevice;
	private DeviceModel? _formDeviceModel;

	private Device? _selectedDevice = null;
	private bool _deviceDragFlag = false;

	private bool _isDeviceContextMenuVisible = false;
	private (double X, double Y) _contextMenuPosition;
	private (string X, string Y) _contextMenuPositionPX => ($"{_contextMenuPosition.X}px", $"{_contextMenuPosition.Y}px");

	private Device? _sendPacketFrom = null;

	private PeriodicTimer? _timer;
	private Task? _animatePacketsTask;

	private bool _welcomeModalVisible = true;

	private string? _selectedHandlerName;

	private bool _areVisibilitiesVisible = true;
	private bool _areConnectionsVisible = true;
	private bool _arePacketsVisible = true;

	private void ShowDeviceModalForm()
	{
		_formDeviceModel = new DeviceModel();
		_isDeviceModalFormVisible = true;
	}

	private void CloseDeviceModalForm()
	{
		_isDeviceModalFormVisible = false;
		_isDeviceContextMenuVisible = false;
	}

	private async Task SubmitDeviceForm()
	{
		_isDeviceModalFormVisible = false;
		if (_formDeviceModel is null)
		{
			return;
		}

		if (_isDeviceContextMenuVisible)
		{
			_isDeviceContextMenuVisible = false;
			_formDeviceModel.ApplyTo(_formDevice);
			_formDevice = null;
		}

		_formDevice = _formDeviceModel.ToDevice();
		DeviceManager.Devices.Add(_formDevice);

		await _canvasRef.Redraw();
		StateHasChanged();
	}

	private async void OnMouseDown(MouseEventArgs e)
	{
		if (_animatePacketsTask is not null)
		{
			return;
		}

		if (e.Button == 2)
		{
			return;
		}
		_isDeviceContextMenuVisible = false;

		if (_formDevice is not null)
		{
			_selectedDevice = _formDevice;
			_formDevice = null;
			await _canvasRef.Redraw();
			return;
		}

		_selectedDevice = GetDeviceUnderMouse((float)e.OffsetX, (float)e.OffsetY);
		_deviceDragFlag = _selectedDevice is not null;

		if (_sendPacketFrom is not null)
		{
			if (_selectedDevice is not null)
			{
				SendPacket(_sendPacketFrom, _selectedDevice);
			}
			_sendPacketFrom = null;
			_selectedDevice = null;
		}

		await _canvasRef.Redraw();
	}
	private async void OnMouseMove(MouseEventArgs e)
	{
		if (_formDevice is not null)
		{
			_formDevice.Pos = new((float)e.OffsetX, (float)e.OffsetY);
			await _canvasRef.Redraw();
		}

		if (_deviceDragFlag && _selectedDevice is not null)
		{
			_selectedDevice.Pos = new((float)e.OffsetX, (float)e.OffsetY);
			await _canvasRef.Redraw();
		}
	}
	private void OnMouseUp(MouseEventArgs e)
	{
		_deviceDragFlag = false;
	}

	private async void OnRightClick(MouseEventArgs e)
	{
		_selectedDevice = GetDeviceUnderMouse((float)e.OffsetX, (float)e.OffsetY);

		if (_selectedDevice is not null)
		{
			_contextMenuPosition = (e.PageX, e.PageY);
			_isDeviceContextMenuVisible = true;
		}
		else
		{
			_isDeviceContextMenuVisible = false;
		}

		await _canvasRef.Redraw();
	}

	private Device? GetDeviceUnderMouse(float x, float y)
	{
		return _selectedDevice = DeviceManager.Devices
			.Reverse<Device>()
			.FirstOrDefault(d =>
			{
				var posDif = d.Pos - new Vector2(x, y);
				var dTypeSquared = d.SizeR * d.SizeR;
				return posDif.LengthSquared() < dTypeSquared;
			});
	}

	private void CloseDeviceContextMenu()
	{
		_isDeviceContextMenuVisible = false;
		StateHasChanged();
	}

	private void EditSelectedDevice()
	{
		if (_selectedDevice is null)
		{
			return;
		}
		_formDevice = _selectedDevice;
		_formDeviceModel = new DeviceModel(_formDevice);
		_isDeviceModalFormVisible = true;
	}

	private async void DeleteSelectedDevice()
	{
		if (_selectedDevice is null)
		{
			return;
		}
		_isDeviceContextMenuVisible = false;
		DeviceManager.Devices.Remove(_selectedDevice);
		_selectedDevice = null;

		await _canvasRef.Redraw();
	}

	private async void CloneSelectedDevice()
	{
		if (_selectedDevice is null)
		{
			return;
		}
		_isDeviceContextMenuVisible = false;
		_formDevice = (Device)_selectedDevice.Clone();
		DeviceManager.Devices.Add(_formDevice);

		await _canvasRef.Redraw();
	}

	private void SendPacketButton()
	{
		_sendPacketFrom = _selectedDevice;
		_selectedDevice = null;
	}

	private void SendPacket(Device from, Device to)
	{
		new Packet(from, to)
			{
				Payload = UTF8Encoding.UTF8.GetBytes("PING"),
			};
		_timer ??= new PeriodicTimer(TimeSpan.FromMilliseconds(33));
		_animatePacketsTask = AnimateForPackets();
	}

	private async Task AnimateForPackets()
	{
		while (PacketManager.ActivePackets.Count > 0 && await _timer!.WaitForNextTickAsync())
		{
			await _canvasRef.Redraw();
		}
		_animatePacketsTask = null;
	}

	private void CloseWelcomeModal()
	{
		_welcomeModalVisible = false;
		StateHasChanged();
	}

	private void HandlerChanged()
	{
		HandlerManager.SetActiveHandler(_selectedHandlerName ?? "");
	}

	private async void PresetChosen(MouseEventArgs e)
	{
		DeviceManager.SetPredefinedPreset("Diamonds");
		await _canvasRef.Redraw();
	}
}